@tailwind base;
@tailwind components;
@tailwind utilities;



 * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.slider-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.left-slide {
  height: 100%;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

.left-slide > div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
}

.left-slide h1 {
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: -30px;
}
.right-slide {
  height: 100% !important;
  position: absolute !important;
  left: 35% !important;
  width: 65% !important;
  transition: transform 0.5s ease-in-out;
}

.right-slide > div {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center center !important;
  height: 100%;
  width: 100%;
}

button {
  border: none;
  background-color: #fff;
  color: #aaa;
  cursor: pointer;
  font-size: 16px;
  width: 40px !important;
  height: 40px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-container .action-buttons button {
  position: absolute;
  left: 35%;
  top: 50%;
  z-index: 100;
}

.slider-container .action-buttons .down-button {
  transform: translateX(-100%);
  border-radius: 4px 0 0 4px;
}

.slider-container .action-buttons .up-button {
  transform: translateY(-100%);
  border-radius: 0 4px 4px 0;
}

.down-button:hover,
.up-button:hover {
  background-color: #f0f0f0;
}  
